.SContainer {
  margin-top: 100px;
  margin-left: 180px;
  /* background-color: red; */
  color: #fefefe;
  width: 1300px;
}

.SBack {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #272a34;
  color: #77777d;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 25px;
}

.SBlock {
}

.STitle {
  font-size: 50px;
  font-weight: 500;
  color: #fefefe;
  line-height: 1.2;
}

.SDetails {
  margin-top: 15px;
  color: #77777d;
  font-size: 18px;
  text-align: justify;
}

.SId {
  margin-top: 10px;
  background-color: #272a34;
  font-size: 14px;
  color: #77777d;
  padding: 5px 10px;
  border-radius: 3px;
  width: fit-content;
}

.SDate {
  font-size: 12px;
  color: #5ae266;
  margin-top: 10px;
  background-color: #272a34;
  padding: 5px 10px;
  border-radius: 3px;
  width: fit-content;
}

.Ttop {
  margin-top: 30px;
}

.Ttitle {
  font-size: 25px;
}

.Tstatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TCLi {
  margin: 0 10px;
  margin-top: 20px;
  background-color: #1f2029;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  height: 160px;
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  box-sizing: border-box;
  flex-direction: column;
}

.TShead {
  color: #fefefe;
}

.TStitle {
  font-size: 18px;
  font-weight: 500;
}

.TSdetails {
  color: #77777d;
  font-size: 16px;
}

.TSheight {
  height: 160px;
}

.TSpriority {
  width: 420px;
  border: none;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #272a34;
  color: #fefefe;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}

.TSpriority:hover {
  background-color: #181818;
}
