.Feed {
  /* background-color: red; */
  margin-left: 180px;
  margin-top: 86px;
  width: 1350px;
  /* height: 500vh; */
}

.TopInfo {
  display: flex;
  justify-content: space-between;
}

.InfoP {
  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.Tasks {
  display: flex;
  color: #fefefe;
}

.Tasks .box {
  margin-right: 15px;
  padding: 20px 30px;
  border-radius: 20px;
}

.TBoxTitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.TBoxNum {
  font-size: 30px;
  font-weight: 500;
}

.TBoxNum span {
  font-size: 14px;
  font-weight: normal;
}

.Backlog {
  background-color: #ffa34f;
}

.In-Progress {
  background-color: #c180d1;
}

.Completed {
  background-color: #43b97f;
}

/* Category */

.CategoryFlex {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CategoryList {
  display: flex;
}

.CategoryP {
  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.CategoryA {
  color: #c280d2;
  font-size: 14px;
}

.CategoryBox {
  margin-right: 15px;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #272a34;
  color: #fefefe;
}

.CategoryBox div {
  display: flex;
}

.emoji {
  background-color: #181818;
  width: fit-content;
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.CategoryText {
  margin-right: 10px;
  font-weight: 600;
}

.CategoryNum {
  color: #77777d;
  font-size: 14px;
}

.Justline {
  margin-top: 30px;
  border-bottom: 2px solid #181b1f;
}

/* AllMyTasks */
.AllMyTasks {
  margin-top: 20px;
}

.AMTcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AMTlinker {
  color: #fefefe;
  display: flex;
  align-items: center;
  background-color: #272a34;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
}

.AMTlinkericon {
  margin-left: 10px;
}

.AMTtitle {
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
  color: #fefefe;
}

.AMTicon {
  font-size: 12px;
  margin-left: 15px;
  background-color: #342e30;
  padding: 5px;
  border-radius: 20px;
}

.AMTp {
  color: #77777d;
}

/* AllTasks */

.AllTasks {
  margin-top: 30px;
  background-color: #272a34;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.BTNside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BTNside button {
  display: flex;
  align-items: center;
  border: none;
  background-color: #1f2029;
  padding: 10px 40px;
  border-radius: 20px;
  font-family: "Poppins";
  font-weight: 600;
}

.ATics {
  color: #77777d;
  cursor: pointer;
  margin-left: 100px;
}

.ATbacklog {
  color: #ffa34f;
}

.ATinprogress {
  color: #c280d2;
}

.ATcompleted {
  color: #43b97f;
}

.ATnum1,
.ATnum2,
.ATnum3 {
  color: #fefefe;
  background-color: #ffa34f;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.ATnum2 {
  background-color: #c280d2;
}

.ATnum3 {
  background-color: #43b97f;
}

.Task1,
.Task2,
.Task3 {
  background-color: #1f2029;
  margin-top: 20px;
  color: #fefefe;
  border-radius: 20px;
  padding: 20px;
}

.ATcon {
  box-sizing: border-box;
  width: 420px;
  word-wrap: break-word;
}

.Task1 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.TaskStat {
  font-size: 12px;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 20px;
}

.low {
  background-color: #ffa34f;
}

.medium {
  background-color: #43b97f;
}

.high {
  background-color: #ff7575;
}

.TaskMainTitle {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
}

.TaskMainSub {
  color: #77777d;
  font-size: 16px;
  margin-bottom: 15px;
}

.TaskMainDate {
  font-size: 12px;
  color: #5ae266;
  text-align: right;
}

.TaskMainIcs {
  cursor: pointer;
}
