.Navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f2029;
  /* background-color: #333; */
  padding: 20px;
  box-sizing: border-box;
}

.Logo,
.Links,
.Form,
.AddTask,
.Profile,
.Settings,
.AccountName,
.AccountGreetings,
.AccountBg,
.SettingsButton,
.SettingsIcon {
  background-color: transparent;
}

.Links {
  display: flex;
  align-items: center;
}

.Logo a {
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
}

.logo-red {
  color: #ff7575;
  background-color: transparent;
}

.logo-yellow {
  color: #ffa34f;
  background-color: transparent;
}

.logo-green {
  color: #43b97f;
  background-color: transparent;
}

.Links a {
  font-size: 16px;
  padding: 5px 10px;
  font-weight: 500;
  background-color: transparent;
  margin: 0 5px;
  transition: all 0.2s;
}

.Links a:hover {
  background-color: #272a34 !important;
  border-radius: 10px;
  color: #fefefe;
}

.GrayA {
  color: #77777d;
}

.Form-Group {
  display: flex;
  align-items: center;
  background-color: #272a34;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
}

.SearchRounded {
  background-color: transparent;
  cursor: pointer;
}

.Form-Group button {
  border: none;
  color: #77777d;
  background-color: transparent;
  margin-right: 10px;
}

.Form-Group input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fefefe;
  font-size: 14px;
  font-family: "Poppins";
  width: 600px;
}

.AddTask {
  display: flex;
  align-items: center;
}

.AddTask > * {
  margin: 0 10px;
}

.NotificationIcon {
  color: #77777d;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
}

.RoundedIcon {
  background-color: transparent;
}

.NotificationButton p {
  background-color: transparent;
  margin-right: 10px;
}

.NotificationButton {
  background-color: #c280d2;
  display: flex;
  align-items: center;
  border: none;
  color: #fefefe;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "Poppins";
  cursor: pointer;
}

.Profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AccountIcon {
  color: #77777d;
  background-color: transparent;
  cursor: pointer;
  margin-right: 15px;
}

.AccountName {
  font-size: 16px;
  color: #fefefe;
  font-weight: 500;
}

.AccountGreetings {
  color: #77777d;
  font-size: 14px;
}

.Settings {
  display: flex;
  align-items: center;
}

.SettingsButton {
  border: none;
}

.SettingsIcon {
  color: #77777d;
  cursor: pointer;
  padding: 5px;
}

.SettingsIcon:hover,
.NotificationIcon:hover {
  background-color: #272a34;
  border-radius: 50%;
}

@media (max-width: 1540px) {
  .Navbar {
    justify-content: space-around;
  }
  .Links {
    display: none;
  }

  .Profile {
    display: none;
  }
}

@media (max-width: 1070px) {
  .AddTask {
    display: none;
  }

  .Form-Group input {
    width: 500px;
  }
}

@media (max-width: 855px) {
  .SettingsButton {
    display: none;
  }
}
