* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2029;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1f2029; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #77777d; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the border-radius for rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #55555a; /* Set the color of the scrollbar thumb on hover */
}
